* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas {
  height: 100%;
  width: 100%;
}

.container
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-3d
{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: move;
}

@keyframes spin
{
  0% {
    transform: perspective(1000px) translateY(50px) rotateX(70deg) rotateZ(0deg);
  }
  100% {
    transform: perspective(1000px) translateY(50px) rotateX(70deg) rotateZ(360deg);
  }
}

@keyframes bob
{
  0%, 100% {
    --z-offset: 0px;
  }
  
  50% {
    --z-offset: 10px;
  }
}

.plane
{
  --x-pos: 0;
  --y-pos: 0;
  --z-pos: 20px;
  --plane-rot-x: 60deg;
  --plane-rot-z: 45deg;
  
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: #ddd;
  transform-origin: 50% 50%;
  transform-style: preserve-3D;
  transform: perspective(7000px) rotateX(var(--plane-rot-x)) rotateZ(var(--plane-rot-z));
  
  // animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  transition: width .4s cubic-bezier(0, 0.8, 0.3, 1.2),
              height .4s cubic-bezier(0, 0.8, 0.3, 1.2);
  
  position: relative;
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0.2, 0.2, 0.2, 0.2);
    transform: translateZ(-15px);
    -webkit-filter: blur(20px);
  }
}

.box 
{
  --x-pos: 0;
  --y-pos: 0;
  --z-offset: 0px;
  --scale: 1;
  
  position: relative;
  width: 50px;
  height: 50px;
  transform-origin: 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(var(--x-pos, 0))
    translateY(var(--y-pos, 0))
    rotateY(-90deg)
    translateX(calc(var(--z-pos, 0) + var(--z-offset, 0))) rotateY(90deg)
    scale3d(var(--scale), var(--scale), var(--scale))
    rotateZ(var(--z-rotate, 0deg));
  transform-style: preserve-3D;
  
  // bobbing animation, might as well just wrap the elements in one more tag
  // global transform + local transform
  // &:hover {
  //   animation-name: bob;
  //   animation-timing-function: linear;
  //   animation-iteration-count: infinite;
  //   animation-duration: 1s;
  //   transition: transform;
  // }
  
  // shadow
  &:before
  {
    // content: '';
    // display: block;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background-color: rgb(180, 180, 180);
    // transform: translateZ(calc(-1 * calc(var(--z-pos) + var(--z-offset))));
    // filter: blur(4px);
    // opacity: calc(1 - (var(--z-pos) * 0.01));
  }
  
  .side {
    cursor: pointer;
    // border: 1px dashed #222;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 50% 0;
    background-color: rgba(0.2, 0.2, 0.2, 0.2);
    background-color: #666;
    backface-visibility: hidden;
    
    &.triggered {
      background-color: red;
    }
    
    &.r {
      transform-origin: 100% 0%;
      transform: rotateY(90deg) rotateZ(-90deg) translateY(-100%);
      background-color: #888;
    }
    
    &.l {
      transform-origin: 0% 100%;
      transform: rotateY(-90deg);
      background-color: #777;
    }
    
    &.f {
      transform-origin: 50% 100%;
      transform: rotateX(-90deg);
      background-color: #888;
    }
    
    &.b {
      transform-origin: 0% 100%;
      transform: rotateY(-90deg) translateY(-100%) rotateX(90deg);
      background-color: #888;
    }
    
    &.t {
      transform: rotateX(-90deg) translateY(-100%) rotateX(90deg);
      background-color: #aaa;
    }
    
    &:hover {
      border: 5px solid black;
    }
  }
  
  &.triggered .side 
  {
    box-shadow: 0 0 10px 10px rgba(180, 80, 70, 0.3);
  }
}

.building {
  $side: 5px;
  --height: -40px;
  --z-rotate: -90deg;

  transition: transform .4s cubic-bezier(0.45, 0, 0.45, 1.6);

  .side {
    width: auto;
    height: auto;

    top: $side;
    right: $side;
    bottom: $side;
    left: $side;

    background-image: url('/resources/images/building_pink_1.png');
    background-size: 160px 85px;

    &.f {
      top: var(--height);
    }

    &.r {
      bottom: var(--height);
      background-position-x: -40px;
    }
    
    &.b {
      top: var(--height);
      background-position-x: -80px;

      transform: translateX(40px) translateY(-40px) rotateX(-90deg) rotateY(180deg);
    }

    &.l {
      top: var(--height);
      background-position-x: -120px;

      transform: translateY(-40px) rotateX(-90deg) rotateY(-90deg);
    }
    
    &.t {
      background: #444;

      transform: rotateX(-90deg) translateY(calc(var(--height) - 45px)) rotateX(90deg);
    }
  }
}

.agent {
  position: absolute;
  width: 5px;
  height: 5px;
  background: red;
}

.node-debug {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}